<div class="row g-0 h-100">
  <div class="col col-6 pe-1">
    <div class="card text-white bg-dark border-gray h-100">
      <div class="card-header">Header</div>
      <div class="card-body flex-grow-1" style="overflow-y: auto; height: 0px;">
        <table class="table table-dark table-hover">
          <tbody>
            <tr *ngFor="let task of taskList">
              <th scope="col">{{ task.user }}</th>
              <th scope="col">{{ task.taskName }}</th>
              <th scope="col">{{ task.taskDate }}</th>
              <th scope="col">{{ task.status }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col col-6 ps-1">
    <div class="row g-0 h-50 mb-1">
      <div class="card text-white bg-dark border-gray h-100">
        <div class="card-header d-flex flex-row">
          <div class="flex-grow-1 text-uppercase fw-bold">Population by Region</div>
          <ng-container *ngTemplateOutlet="chartTypeSelector"></ng-container>
        </div>
        <div class="card-body flex-grow-1">
          <!-- [oneToOne]="true" is required -->
          <highcharts-chart class="h-100 w-100 d-block" *ngIf="isHighcharts" [oneToOne]="true" [Highcharts]="Highcharts"
            [options]="chartOptions$ | async" (chartInstance)="scatterChartInstance = $event">
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #chartTypeSelector>
  <button *ngFor="let mode of chartModes" class="btn btn-sm mx-1" [class.btn-primary]="sltChartType === mode.key"
    [class.btn-secondary]="sltChartType !== mode.key" (click)="onChangeChartType(mode.key)">
    <i [ngClass]="mode.icon"></i>
  </button>
</ng-template>